@import "../../bower_components/normalize.scss/normalize";

@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

body {
	color: #333;
}

#container {
	margin: 0 auto;
	width: 500px;
}

h1 {
	text-align: center;
}

#nav {
	@include pie-clearfix;
	list-style: none;
	padding-left: 0;
	
	& > li {
		float: left;
		width: 33.3%;
		font-size: 80%;
		text-align: center;
	}
}

.todoForm {
	@include border-radius();
	background: #EEE;
	border: solid 1px #DDD;
	list-style: none;
	padding: 1em;
}

.todoForm__input {
	width: 100%;
}

.todoList {
	list-style: none;
	padding-left: 0;
}

.todoListItem {
	padding: 0.5em;
	border-bottom: solid 1px #DDD;
	
	& > p {
		@include pie-clearfix;
		margin: 0;
	}

	&:hover .todoListItem__deleteButton {
		display: block;
	}
}

.todoListItem__editor {
	display: none;
}

.todoListItem--edit {

	.todoListItem__view {
		display: none;
	}

	.todoListItem__editor {
		display: block;

		input {
			width: 100%;
		}
	}
}

.todoListItem__checkbox {
	margin-right: 0.5em;
}

.todoListItem__deleteButton {
	float: right;
	display: none;
}

.todoListItem--completed {
	color: #999;
	text-decoration: line-through;
}
